@model IEnumerable<IndproCareer.Entity.Models.Register>

@{

    ViewBag.Title = "UserDashBoard";
}

<fieldset class="pull-right">
    @if (Session["UserName"] != null)
    {
        <text>
            Welcome @Session["UserName"].ToString()
        </text>
    }
    <span class="pull-right" style="margin-left:30px;">
        @Html.ActionLink("LogOut", "Login", "Register")
    </span>
</fieldset>

@*<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="pull-left">Register</span></h3>
                    <h3 class="panel-title" style="margin-bottom:20px">
                        <span class="pull-right">@Html.ActionLink("Login", "Login")</span>
                    </h3>
                                        

                </div>
            </div>
        </div>
    </div>
</div>*@
